body {
  font-family: "Barlow Semi Condensed";
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}
.container .name,
.container .intro {
  font-weight: 600;
}
.container section {
  overflow: hidden;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1440px;
  display: grid;
  grid-template-areas:
    "d d jon k"
    "jean p p k";
  gap: 30px;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
}
.container img {
  padding: 0px;
  margin: 0px;
  border-radius: 100%;
  border: 2px solid white;
  width: 40px;
}
.container #daniel-clifford #quotation {
  all: unset;
  position: absolute;
  top: 0px;
  right: 15%;
  z-index: 1;
}
.container #daniel-clifford main,
.container #daniel-clifford .text {
  position: relative;
  z-index: 2;
}
.container .text {
  display: inline-block;
}
.container .text p {
  padding: 0px;
  margin: 0px;
}
.container .header {
  display: flex;
  align-items: center;
  gap: 15px;
}
#daniel-clifford {
  background-color: hsl(263, 55%, 52%);
  grid-area: d;
  padding: 25px;
  box-shadow: 20px 30px 150px hsl(224, 10%, 45%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#daniel-clifford .header .text {
  color: hsl(260, 100%, 95%);
}
#daniel-clifford main .intro {
  color: hsl(260, 100%, 95%);
}
#daniel-clifford main .main {
  color: hsl(264, 82%, 80%);
}

#jonathan-walters {
  background-color: hsl(217, 19%, 35%);
  grid-area: jon;
  padding: 25px;
  box-shadow: 20px 30px 150px hsl(224, 10%, 45%);
  border-radius: 10px;
}
#jonathan-walters .header .text {
  color: hsl(0, 0%, 81%);
}
#jonathan-walters main .intro {
  color: hsl(214, 17%, 92%);
}
#jonathan-walters main .main {
  color: hsl(0, 0%, 81%);
}

#jeanette-harmon {
  background-color: hsl(0, 0%, 100%);
  grid-area: jean;
  padding: 25px;
  box-shadow: 20px 30px 150px hsl(224, 10%, 45%);
  border-radius: 10px;
}
#jeanette-harmon .header .text {
  color: hsl(224, 10%, 45%);
}
#jeanette-harmon main .intro {
  color: hsl(219, 29%, 14%);
}
#jeanette-harmon main .main {
  color: hsl(224, 10%, 45%);
}

#patrick-abrams {
  background-color: hsl(219, 29%, 14%);
  grid-area: p;
  padding: 25px;
  /* margin-right: 30px; */
  box-shadow: 20px 30px 150px hsl(224, 10%, 45%);
  border-radius: 10px;
}
#patrick-abrams .header .text {
  color: hsl(0, 0%, 81%);
}
#patrick-abrams main .intro {
  color: hsl(0, 0%, 81%);
}
#patrick-abrams main .main {
  color: hsl(0, 0%, 81%);
}

#kira-whittle {
  background-color: hsl(0, 0%, 100%);
  grid-area: k;
  padding: 25px;
  box-shadow: 20px 30px 150px hsl(224, 10%, 45%);
  border-radius: 10px;
}
#kira-whittle .header .text {
  color: hsl(224, 10%, 45%);
}
#kira-whittle main .intro {
  color: hsl(219, 29%, 14%);
}
#kira-whittle main .main {
  color: hsl(224, 10%, 45%);
}

@media screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "d"
      "jon"
      "jean"
      "p"
      "k";
  }
  #kira-whittle {
    margin-bottom: 30px;
  }
  #daniel-clifford {
    margin-top: 30px;
  }
  .container #daniel-clifford #quotation {
    z-index: -1;
  }
}
